body{
	margin: 0;
	padding: 0;
	background: #efefef;
	font-size: 17px;
	font-family: sans-serif;
	font-weight: 300;
	background-image: url(background.jpg);
	background-size: cover;
}
#login-box{
	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	background: rgba(0, 0, 0, 0.5);
  	padding: 20px;
  	width: 570px;
  	box-shadow: 0 0 10px 5px black;
}
#left-box{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
}
h1{
	margin: 0 0 20px 0;
	font-weight: 400;
	font-size: 22px;
	font-family: sans-serif;
	color: #fff;
}
input[type="text"],
input[type="password"]{
  float: center;
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background: none;
  box-sizing: border-box;
  outline: none;
}
input[type="submit"]{
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #f44336;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0,2s ease;
	cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus{
	background: #ff5722;
	transition: 0.2s ease;
}
.or{
	position: absolute;
	top: 300px;
	left: 640px;
	width: 40px;
	height: 40px;
	background: none;
	border-radius: 50%;
	color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0,6);
	line-height: 40px;
	text-align: center;
}
.right-box{
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 350px;
	background-size: cover;
	background-position: center;
}
.right-box .signin{
	display: block;
	margin-bottom: 30px;
	font-size: 25px;
	color: #fff;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,7);
}
button.social{
	margin-bottom: 20px;
	width: 220px;
	height: 36px;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	transition: 0.2s ease;
	cursor: pointer;
}
.facebook{
	background-color: #32508e;
}
.twiter{
	background-color: #55acee;
}
.google{
	background-color: #dd4b39;
}
